stages:
  - install
  - build
  - pages
  - publish
  - release

cache:
  untracked: true
  # 缓存文件以分支为key
  key: ${CI_COMMIT_REF_NAME}
  # 缓存需要的文件至runner
  paths:
    - node_modules/
    - packages/

# 安装所需依赖
install:
  stage: install
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v.*$/'
      # 仅在这个文件有变动时进行依赖安装，减少pipeline时间
      changes:
        - package-lock.json
  tags:
    - frontend
  script:
    - npm config set '@${CI_PROJECT_ROOT_NAMESPACE}:registry=https://gitlab.codemao.cn/api/v4/packages/npm/'
    - npm config set '//gitlab.codemao.cn/api/v4/packages/npm/:_authToken' ${CI_JOB_TOKEN}
    - npm i
    - npm run bootstrap

# 文件打包
build:
  stage: build
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v.*$/'
  tags:
    - frontend
  script:
    - npm run lint
    - npm run compile

# pages:
#   stage: pages
#   rules:
#     - if: '$CI_COMMIT_TAG =~ /^v.*$/'
#   tags:
#     - frontend
#   script: 
#     - npm run build-doc
#   artifacts:
#     paths:
#       - dist

# 发布包至gitlab
publish:
  stage: publish
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v.*$/'
  tags:
    - frontend
  script:
    - echo '${CI_PROJECT_ID}'
    - npm config set '@${CI_PROJECT_ROOT_NAMESPACE}:registry=https://gitlab.codemao.cn/api/v4/projects/${CI_PROJECT_ID}/packages/npm/'
    - npm config set '@crc:registry=https://gitlab.codemao.cn/api/v4/projects/${CI_PROJECT_ID}/packages/npm/'
    - npm config set '//gitlab.codemao.cn/api/v4/packages/npm/:_authToken' ${CI_JOB_TOKEN}
    - npm config set '//gitlab.codemao.cn/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken' ${CI_JOB_TOKEN}
    - npm run pub

# release
release:
  stage: release
  needs:
    - job: publish
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  tags:
    - frontend
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v.*$/'
  script:
    - echo '------ running release_job for $TAG ------'
  release:
    name: 'Release $CI_COMMIT_TAG'
    description: $CI_COMMIT_MESSAGE
    tag_name: '$CI_COMMIT_TAG'
    ref: '$CI_COMMIT_TAG'
